.inventors-section .background-container{
  background-color: #0B0062;
  color: #FCFCFF;
  padding: 2rem 0rem 2rem;
}
footer{
  background-color: #E4EBF5;
  color: #0B0062;
  padding: 5rem 0rem 4rem;
}
