.inventors-section .background-container{
  background-color: #0B0062;
  color: #FCFCFF;
  padding: 2rem 0rem 2rem;
}
footer{
  background-color: #E4EBF5;
  color: #0B0062;
  padding: 5rem 0rem 4rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding-right: 1.4rem;
    padding-left: 1.4rem;
    color: #0B0062;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: #0B0062;
}
.about-section, .technology-section, .novelty-section{
  margin: 6rem 0rem;
  position: relative;
}
.content-section{
  padding: 4.0rem 5rem 7.5rem 5.5rem;
  height: 100%;
}
.about-content, .novelty-content{
  background-color: #E4EBF5;
}
.technology-content{
  background-color: #0B0062;
}
.side-left{
  left: 0;
  top: 0;
  position: absolute;
  width: 45.835%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.side-right{
  right: 0;
  top: 0;
  position: absolute;
  width: 45.835%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.home {
    font-family: 'gillsans';
}
.semi {
    font-weight: 600;
}
.subtitle{
  color: #0B0062;
  font-size: 1.4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}
hr.divider{
  width: 100%;
  height: 2px;
  background-color: #0B0062;
}
